body {
    background-color: #838a9c;
    text-align: center;
    margin: 0 auto;
}
.image{
    position: relative;
    margin: 0 auto;
}
#image {
    position: relative;
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
