body {
    display: flex;
    font-family: 'Raleway', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: rgb(133, 133, 133);
    color: black;
}
form {
    position: relative;
    height: 10em;
}
input {
    border:  1px solid lightcoral;
    width: 30vw;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
button {
    border: 2px solid ;
    background-color: lightgrey;
    color: darkred;
    padding: 0.5rem;
}
.card {
    background-color: lightblue;
}
.cardBorder {
    border: 15px solid goldenrod;
    border-radius: 15px;
}