.slideshow {
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 36vw;
    width: 64vw;
    margin: 0 auto;
    background-position: center;
}
body {
    text-align: center;
    
}
button {
    margin: 10px 0px 20px 0px;
}
.hidden {
    display: none;
}
